DB_HOST=localhost
DB_PORT=3306
DB_NAME=wb
DB_USERNAME=app_user
DB_PASSWORD=secret

BM_COMMON_API_URL=https://devcommonapi.marpla.com
BM_COMMON_API_TOKEN=your_token_here

APP_ENV=dev
FREE_DAYS=3
FREE_DAYS_API_ENTERED=7
HISTORY_TXT="Subscription payment"
